//====================================================================================================
// Hero Section
.hero {
    padding: toRem(64) toRem(0) toRem(80) toRem(0);
    // .hero__container
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: $tablet) {
            justify-content: center;
            text-align: center;
        }
    }
    // .hero__content
    &__content {
        max-width: toRem(588);
    }
    // .hero__descr
    &__descr {
        font-size: toRem(20);
        font-weight: 400;
        line-height: 150%;
        margin-top: toRem(16);
        @media (max-width: $tablet) {
            text-align: center;
        }
    }
    &__img {
        border-radius: toRem(0) toRem(90);
        @media (max-width: $tablet) {
            display: none;
        }
    }
    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: toRem(504);
        height: toRem(782);
        background-image: url("@img/hero-bg.png");
        z-index: -1;
        @media (max-width: $tablet) {
            display: none;
        }
    }
}
//====================================================================================================
// About Section
.about {
    padding: toRem(80) toRem(0);
    // .about__container
    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @media (max-width: $tablet) {
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    }
    &__content {
        max-width: toRem(588);
        @media (max-width: $tablet) {
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    }
    // .about__descr
    &__descr {
        font-size: 18px;
        line-height: 160%;
    }
    &__benefits {
        padding-top: toRem(160);
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: toRem(24);
        @media (max-width: $tablet) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: $mobile) {
            grid-template-columns: repeat(1, 1fr);
        }
        .card {
            &__container {
            }
            // .benefits__item
            &__item {
                padding: toRem(40);
                background-color: #fff;
                border-radius: toRem(16);
                border: toRem(1) solid #d3dcd4;
            }
            // .benefits__item-icon
            &__item-icon {
            }
            // .benefits__item-heading
            &__item-heading {
                margin-top: toRem(16);
                color: $darkColor;
                font-size: 18px;
                font-weight: 700;
                line-height: 150%; /* 27px */
            }
            // .benefits__item-descr
            &__item-descr {
                margin-top: toRem(8);
                line-height: 150%;
            }
        }
    }
}

.title {
    max-width: toRem(588);
}
.button_about {
    margin-top: toRem(16);
}
//========================================================================================================================================================
// Features Section
.features {
    padding: toRem(80) 0;
    @media (max-width: $mobile) {
    }
    // .features__container
    &__container {
    }
    // .features__descr
    &__descr {
        margin-top: toRem(8);
        max-width: toRem(660);
        text-align: center;
        margin: 0 auto;
        line-height: 150%;
        @media (max-width: $mobile) {
            max-width: 100%;
        }
    }
}
.title_features {
    text-align: center;
    max-width: toRem(433);
    margin: 0 auto;
}
//========================================================================================================================================================
// Offer section
.offer {
    padding: toRem(80) 0;
    // .offer__container
    &__container {
    }
    // .offer__title
    &__title {
        text-align: center;
        margin: 0 auto;
    }
    // .offer__wrapper
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-top: toRem(40);
        gap: toRem(24);
        @media (max-width: $tablet) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: $mobile) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}
.card-item {
}
.card {
    &__item {
        background-color: #fff;
        padding: toRem(40);
        border-radius: toRem(16);
        border: toRem(1) solid #d3dcd4;
    }

    // .card__item-heading
    &__item-heading {
        margin-top: toRem(16);
        color: $darkColor;
        font-size: 18px;
        font-weight: 700;
        line-height: 150%; /* 27px */
    }
    // .card__item-descr
    &__item-descr {
        margin-top: toRem(8);
        line-height: 150%; /* 24px */
    }
}
//========================================================================================================================================================
// Technology Section
.technology {
    padding: toRem(80) 0;
    // .technology__container
    &__container {
    }
    // .technology__descr
    &__descr {
        margin-top: toRem(8);
        max-width: toRem(660);
        text-align: center;
        margin: 0 auto;
        font-size: 20px;
        line-height: 150%; /* 30px */
    }
}

.title_technology {
    text-align: center;
    margin: 0 auto;
}
.tabs__navigation-technology {
    max-width: toRem(597);
}
.tabs__wrapper-technology {
    // column-gap: toRem(125);
}
.tabs__descr-technology {
    max-width: toRem(486);
}
.tabs {
    // .tabs__navigation
    &__navigation {
    }
    // .tabs__title
    &__title-technology {
        padding: toRem(10) toRem(10);
    }
    // .tabs__content
    &__content {
    }
    // .tabs__body
    &__body {
    }
    // .tabs__wrapper
    &__wrapper {
        @media (max-width: $tablet) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    // .tabs__main
    &__main {
    }
    // .tabs__heading
    &__heading {
    }
    // .tabs__descr
    &__descr {
        @media (max-width: $tablet) {
            margin-top: toRem(16);
        }
    }
    // .tabs__list
    &__list {
        @media (max-width: $tablet) {
            margin-top: toRem(32);
        }
        max-width: toRem(588);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: toRem(24);
        @media (max-width: $mobile) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
    // .tabs__list-item
    &__list-item {
        padding-left: toRem(56);
    }
    // .tabs__list-item_heading
    &__list-item_heading {
        color: $darkColor;
        font-size: 18px;
        font-weight: 700;
        line-height: 150%; /* 27px */
        position: relative;
        &::before {
            content: "";
            position: absolute;
            width: toRem(40);
            height: toRem(40);
            background-color: #f1f1f1;
            left: toRem(-56);
            border-radius: 100%;
            background-image: url("@img/icons/checkmark.svg");
        }
    }
    // .tabs__list-item_descr
    &__list-item_descr {
        margin-top: toRem(6);
        line-height: 150%; /* 24px */
    }
}

//========================================================================================================================================================
// Solutions Section
.solutions {
    padding: toRem(80) 0;

    // .solutions__container
    &__container {
    }
    // .solutions__subtitle
    &__subtitle {
        text-align: center;
        display: block;
    }
    // .solutions__descr
    &__descr {
        max-width: toRem(790);
        margin-top: toRem(16);
    }
    // .solutions__wrapper
    &__wrapper {
        margin-top: toRem(40);
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: toRem(24);
        @media (max-width: $tablet) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: $mobile) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
    // .solutions__item
    &__item {
        padding: toRem(24);
        background-color: #f1f1f1;
        border-radius: toRem(16);
        border: toRem(1) solid #d3dcd4;
        position: relative;
        height: toRem(790);
        display: flex;
        flex-direction: column;
        img {
            max-width: 100%;
        }
        @media (max-width: $tablet) {
            height: toRem(800);
        }
    }
    &__item-list {
        padding-left: toRem(32);
    }
    // .solutions__item-heading
    &__list-heading {
        margin-top: toRem(48);
        color: $darkColor;
        font-size: 20px;
        font-weight: 700;
        line-height: 150%; /* 30px */
    }
    &__item-heading {
        color: $darkColor;
        font-size: 16px;
        font-weight: 700;
        line-height: 150%; /* 24px */
        margin-top: toRem(16);
        position: relative;
        &:first-child {
            margin-top: toRem(24);
        }
        &::before {
            content: "";
            position: absolute;
            width: toRem(24);
            height: toRem(24);
            left: toRem(-32);
            background-image: url("@img/icons/checkmark-circle.svg");
        }
    }
    // .solutions__item-descr
    &__item-descr {
        line-height: 150%;
        margin-top: toRem(8);
        @media (max-width: $tablet) {
            &:last-child {
            }
        }
    }
}
.title_solutions {
    text-align: center;
    margin: 0 auto;
}
//========================================================================================================================================================
// Faq Section
.faq {
    padding: toRem(80) 0;
    // .faq__container
    &__container {
    }
    // .faq__subtitle
    &__subtitle {
    }
    // .faq__descr
    &__descr {
        max-width: toRem(509);
        margin-top: toRem(8);
        a {
            color: #2971f4;
            line-height: 150%; /* 30px */
            text-decoration-line: underline;
            transition: all 0.3s;
            @media (any-hover: hover) {
                &:hover {
                    color: $greenColor;
                }
            }
        }
    }
    // .faq__wrapper
    &__wrapper {
        max-width: toRem(996);
        margin: 0 auto;
        margin-top: toRem(40);
    }
}
.title_faq {
    margin: 0 auto;
    text-align: center;
}
.spollers {
    // .spollers__item
    &__item {
    }
    // .spollers__title
    &__title {
    }
    // .spollers__body
    &__body {
    }
}
//========================================================================================================================================================
// Overview Section
.overview {
    padding-top: toRem(80);
    position: relative;
    &::before {
        content: "";
        position: absolute;
        width: toRem(622);
        height: toRem(474);
        left: 0;
        top: toRem(354);
        z-index: -1;
        background-image: url("@img/overview-bg.png");
        @media (max-width: $tablet) {
            display: none;
        }
    }
    // .overview__container
    &__container {
    }
    // .overview__descr
    &__descr {
        max-width: toRem(752);
    }
    // .overview__wrapper
    &__wrapper {
        margin-top: toRem(40);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-bottom: toRem(80);
        picture,
        img {
            border-radius: toRem(90) 0;
            max-width: 100%;
            @media (max-width: $tablet) {
                border-radius: toRem(32);
            }
        }
    }
    &__img {
        @media (max-width: $tablet) {
            width: 100%;
        }
        img {
            border-radius: toRem(90) 0;
            max-width: 100%;
            @media (max-width: $tablet) {
                max-width: 100%;
            }
        }
    }

    // .overview__list
    &__list {
        max-width: toRem(588);
        @media (max-width: $tablet) {
            padding-top: toRem(160);
            max-width: 100%;
        }
    }
    // .overview__list-heading
    &__list-heading {
        color: $darkColor;
        font-size: 28px;
        font-weight: 700;
        line-height: 140%; /* 39.2px */
        letter-spacing: -0.28px;
    }
    &__list-item {
    }
    // .tabs__list-item_heading
    &__list-item_heading {
        margin-top: toRem(16);
        &:first-child {
            margin-top: toRem(24);
        }
    }
    // .tabs__list-item_descr
    &__list-item_descr {
        @media (max-width: $tablet) {
            width: 100%;
        }
    }
}
.title_overview {
    margin: 0 auto;
    text-align: center;
}

.partners {
    // .partners__wrapper
    &__wrapper {
        padding: toRem(80) 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    // .partners__content
    &__content {
        max-width: toRem(486);
        @media (max-width: $tablet) {
            max-width: 100%;
        }
    }
    // .partners__descr
    &__descr {
        margin-top: toRem(16);
        font-size: 18px;
        line-height: 160%; /* 28.8px */
    }
    // .partners__benefits
    &__benefits {
        max-width: toRem(588);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: toRem(24);
        @media (max-width: $tablet) {
            margin-top: toRem(24);
            max-width: 100%;
        }
        @media (max-width: $mobile) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}
.title {
}
.title_partners {
    font-size: 28px;
    line-height: 140%; /* 39.2px */
    letter-spacing: -0.28px;
}
.button {
}
.button_tabs {
}
.card {
    // .card__item
    &__item {
    }
    // .card__item-heading
    &__item-heading {
    }
    // .card__item-descr
    &__item-descr {
    }
}

.partnership {
    // .partnership__wrapper
    &__wrapper {
        padding: toRem(80) 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    // .partnership__main
    &__main {
        max-width: toRem(486);
        @media (max-width: $tablet) {
            max-width: 100%;
        }
    }
    // .partnership__descr
    &__descr {
        margin-top: toRem(16);
        font-size: 18px;
        line-height: 160%; /* 28.8px */
    }
    // .partnership__steps
    &__steps {
        max-width: toRem(588);
        @media (max-width: $tablet) {
            max-width: 100%;
            margin-top: toRem(32);
        }
    }
    // .partnership__list
    &__list {
        list-style-type: none; /* Убираем стандартные маркеры (цифры) */
        counter-reset: my-counter; /* Сбрасываем счетчик для использования внутренних псевдоэлементов */
        padding-left: 0; /* Убираем внутренний отступ у списка */
    }
    // .partnership__list-item
    &__list-item {
        color: #003c2f;
        font-size: 18px;
        line-height: 160%;
        &:not(:first-child) {
            margin-top: toRem(16);
        }
        span {
            color: #003c2f;
            font-size: 18px;
            font-weight: 700;
            line-height: 150%; /* 27px */
        }
        a {
            color: #2971f4;
            line-height: 140%;
            letter-spacing: -0.18px;
            text-decoration-line: underline;
            transition: all 0.3s;
            @media (any-hover: hover) {
                &:hover {
                    color: $greenColor;
                }
            }
        }
        counter-increment: my-counter;
        position: relative;
        padding-left: 20px;
        &::before {
            content: counter(my-counter) ".";
            position: absolute;
            left: 0;
            font-size: toRem(18);
            font-weight: 700;
            line-height: 150%;
            color: #003c2f;
        }
    }
}
.title {
}
.title_partnership {
    font-size: 28px;
    line-height: 140%; /* 39.2px */
    letter-spacing: -0.28px;
}
//========================================================================================================================================================
// CTA
.cta {
    padding: toRem(80) 0;
    // .cta__wrapper
    &__wrapper {
        padding: toRem(64) 0;
        border-radius: toRem(32);
        min-height: toRem(327);
        background-image: url("@img/cta-bg.png");
        background-size: cover; /* или contain в зависимости от ваших потребностей */
        background-position: center center;
        background-repeat: no-repeat;
        @media (max-width: $tablet) {
            border-radius: toRem(32);
        }
        @media (max-width: $mobile) {
            padding: toRem(64) toRem(32);
        }
    }
    // .cta__title
    &__title {
        color: #f2f7f2;
        font-size: toRem(40);
        font-weight: 700;
        line-height: 140%;
        letter-spacing: -0.4px;
        text-align: center;
        @media (max-width: $mobile) {
            font-size: toRem(32);
        }
    }
    // .cta__descr
    &__descr {
        max-width: toRem(616);
        margin: 0 auto;
        margin-top: toRem(8);
        color: #e5f2ef;
        text-align: center;
        font-size: 20px;
        line-height: 150%; /* 30px */
    }
}
.button_cta {
    margin: 0 auto;
    margin-top: toRem(24);
    display: block;
    min-width: toRem(221);
}
.text {
}
.rotate {
}
.button {
    // .button__arrow
    &__arrow {
        // .button__arrow--out
        &--out {
        }
        // .button__arrow--in
        &--in {
        }
    }
}
