//====================================================================================================
// Hero Section
.hero {
    padding: toRem(64) toRem(0) toRem(80) toRem(0);
    // .hero__container
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    // .hero__content
    &__content {
        max-width: toRem(588);
    }
    // .hero__descr
    &__descr {
        font-size: toRem(20);
        font-weight: 400;
        line-height: 150%;
        margin-top: toRem(16);
    }
    &__img {
        border-radius: toRem(0) toRem(90);
    }
    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: toRem(504);
        height: toRem(782);
        background-image: url("img/hero-bg.png");
        z-index: -1;
    }
}
//====================================================================================================
// About Section
.about {
    padding: toRem(80) toRem(0);
    // .about__container
    &__container {
        display: flex;
        justify-content: space-between;
    }
    &__content {
        max-width: toRem(588);
    }
    // .about__descr
    &__descr {
        font-size: 18px;
        line-height: 160%;
    }
    &__benefits {
        padding-top: toRem(160);
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: toRem(24);
        .card {
            &__container {
            }
            // .benefits__item
            &__item {
                padding: toRem(40);
                background-color: #fff;
                border-radius: toRem(16);
                border: toRem(1) solid #d3dcd4;
            }
            // .benefits__item-icon
            &__item-icon {
            }
            // .benefits__item-heading
            &__item-heading {
                margin-top: toRem(16);
                color: $darkColor;
                font-size: 18px;
                font-weight: 700;
                line-height: 150%; /* 27px */
            }
            // .benefits__item-descr
            &__item-descr {
                margin-top: toRem(8);
                line-height: 150%;
            }
        }
    }
}

.title {
    max-width: toRem(588);
}
.button_about {
    margin-top: toRem(16);
}
//========================================================================================================================================================
// Features Section
.features {
    padding: toRem(80);
    // .features__container
    &__container {
    }
    // .features__descr
    &__descr {
        margin-top: toRem(8);
        max-width: toRem(660);
        text-align: center;
        margin: 0 auto;
        line-height: 150%;
    }
}
.title_features {
    text-align: center;
    max-width: toRem(433);
    margin: 0 auto;
}
//========================================================================================================================================================
// Offer section
.offer {
    padding: toRem(80);
    // .offer__container
    &__container {
    }
    // .offer__title
    &__title {
        text-align: center;
        margin: 0 auto;
    }
    // .offer__wrapper
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-top: toRem(40);
        gap: toRem(24);
    }
}
.card-item {
}
.card {
    &__item {
        background-color: #fff;
        padding: toRem(40);
        border-radius: toRem(16);
        border: toRem(1) solid #d3dcd4;
    }

    // .card__item-heading
    &__item-heading {
        margin-top: toRem(16);
        color: $darkColor;
        font-size: 18px;
        font-weight: 700;
        line-height: 150%; /* 27px */
    }
    // .card__item-descr
    &__item-descr {
        margin-top: toRem(8);
        line-height: 150%; /* 24px */
    }
}
//========================================================================================================================================================
// Technology Section
.technology {
    padding: toRem(80);
    // .technology__container
    &__container {
    }
    // .technology__descr
    &__descr {
        margin-top: toRem(8);
        max-width: toRem(660);
        text-align: center;
        margin: 0 auto;
        font-size: 20px;
        line-height: 150%; /* 30px */
    }
}

.title_technology {
    text-align: center;
    margin: 0 auto;
}
.tabs__navigation-technology {
    max-width: toRem(600);
}
.tabs__wrapper-technology {
    // column-gap: toRem(125);
}
.tabs__descr-technology {
    max-width: toRem(486);
}
.tabs {
    // .tabs__navigation
    &__navigation {
    }
    // .tabs__title
    &__title {
    }
    // .tabs__content
    &__content {
    }
    // .tabs__body
    &__body {
    }
    // .tabs__wrapper
    &__wrapper {
    }
    // .tabs__main
    &__main {
    }
    // .tabs__heading
    &__heading {
    }
    // .tabs__descr
    &__descr {
    }
    // .tabs__list
    &__list {
        max-width: toRem(588);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: toRem(24);
    }
    // .tabs__list-item
    &__list-item {
        padding-left: toRem(56);
    }
    // .tabs__list-item_heading
    &__list-item_heading {
        color: $darkColor;
        font-size: 18px;
        font-weight: 700;
        line-height: 150%; /* 27px */
        position: relative;
        &::before {
            content: "";
            position: absolute;
            width: toRem(40);
            height: toRem(40);
            background-color: #f1f1f1;
            left: toRem(-56);
            border-radius: 100%;
            background-image: url("img/icons/checkmark.svg");
        }
    }
    // .tabs__list-item_descr
    &__list-item_descr {
        margin-top: toRem(6);
        line-height: 150%; /* 24px */
    }
}

//========================================================================================================================================================
// Solutions Section
.solutions {
    padding: toRem(80);

    // .solutions__container
    &__container {
    }
    // .solutions__subtitle
    &__subtitle {
        text-align: center;
        display: block;
    }
    // .solutions__descr
    &__descr {
        max-width: toRem(790);
        margin-top: toRem(16);
    }
    // .solutions__wrapper
    &__wrapper {
        margin-top: toRem(40);
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: toRem(24);
    }
    // .solutions__item
    &__item {
        padding: toRem(24);
        background-color: #f1f1f1;
        border-radius: toRem(16);
        border: toRem(1) solid #d3dcd4;
        position: relative;
        height: toRem(790);
        display: flex;
        flex-direction: column;
    }
    &__item-list {
        padding-left: toRem(32);
    }
    // .solutions__item-heading
    &__list-heading {
        margin-top: toRem(48);
        color: $darkColor;
        font-size: 20px;
        font-weight: 700;
        line-height: 150%; /* 30px */
    }
    &__item-heading {
        color: $darkColor;
        font-size: 16px;
        font-weight: 700;
        line-height: 150%; /* 24px */
        margin-top: toRem(16);
        position: relative;
        &:first-child {
            margin-top: toRem(24);
        }
        &::before {
            content: "";
            position: absolute;
            width: toRem(24);
            height: toRem(24);
            left: toRem(-32);
            background-image: url("img/icons/checkmark-circle.svg");
        }
    }
    // .solutions__item-descr
    &__item-descr {
        line-height: 150%;
        margin-top: toRem(8);
    }
}
.title_solutions {
    text-align: center;
    margin: 0 auto;
}
//========================================================================================================================================================
// Faq Section
.faq {
    padding: toRem(80);
    // .faq__container
    &__container {
    }
    // .faq__subtitle
    &__subtitle {
    }
    // .faq__descr
    &__descr {
        max-width: toRem(509);
        margin-top: toRem(8);
        a {
            color: #2971f4;
            line-height: 150%; /* 30px */
            text-decoration-line: underline;
            transition: all 0.3s;
            @media (any-hover: hover) {
                &:hover {
                    color: $greenColor;
                }
            }
        }
    }
    // .faq__wrapper
    &__wrapper {
        max-width: toRem(996);
        margin: 0 auto;
        margin-top: toRem(40);
    }
}
.title_faq {
    margin: 0 auto;
    text-align: center;
}
.spollers {
    // .spollers__item
    &__item {
    }
    // .spollers__title
    &__title {
    }
    // .spollers__body
    &__body {
    }
}
//========================================================================================================================================================
// Overview Section
.overview {
    padding: toRem(80);
    position: relative;
    &::before {
        content: "";
        position: absolute;
        width: toRem(622);
        height: toRem(474);
        left: 0;
        top: toRem(354);
        z-index: -1;
        background-image: url("img/overview-bg.png");
    }
    // .overview__container
    &__container {
    }
    // .overview__descr
    &__descr {
        max-width: toRem(752);
    }
    // .overview__wrapper
    &__wrapper {
        margin-top: toRem(40);
        display: flex;
        justify-content: space-between;
        padding-bottom: toRem(80);
    }
    &__img {
        img {
            border-radius: toRem(90) 0;
        }
    }
    // .overview__list
    &__list {
        max-width: toRem(588);
    }
    // .overview__list-heading
    &__list-heading {
        color: $darkColor;
        font-size: 28px;
        font-weight: 700;
        line-height: 140%; /* 39.2px */
        letter-spacing: -0.28px;
    }
    &__list-item {
    }
    // .tabs__list-item_heading
    &__list-item_heading {
        margin-top: toRem(16);
        &:first-child {
            margin-top: toRem(24);
        }
    }
    // .tabs__list-item_descr
    &__list-item_descr {
    }
}
.title_overview {
    margin: 0 auto;
    text-align: center;
}

.partners {
    // .partners__wrapper
    &__wrapper {
        padding-top: toRem(80);
        display: flex;
        justify-content: space-between;
    }
    // .partners__content
    &__content {
        max-width: toRem(486);
    }
    // .partners__descr
    &__descr {
        margin-top: toRem(16);
        font-size: 18px;
        line-height: 160%; /* 28.8px */
    }
    // .partners__benefits
    &__benefits {
        max-width: toRem(588);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: toRem(24);
    }
}
.title {
}
.title_partners {
    font-size: 28px;
    line-height: 140%; /* 39.2px */
    letter-spacing: -0.28px;
}
.button {
}
.button_tabs {
}
.card {
    // .card__item
    &__item {
    }
    // .card__item-heading
    &__item-heading {
    }
    // .card__item-descr
    &__item-descr {
    }
}
